<div class="dashboard">
<ul class="bxslider">
  <li><%= image_tag "2.jpeg" %></li>

</ul>
<div class="row">
    <h2 class="head">Добро пожаловать на сайт Healthy-life<h2>
  <div class="col-md-11 col-md-offset-1">
    <h3>Этот ресурс поможет Вам заново взглянуть на себя, перебороть себя, заставить поработать над собой, своим телом и сознанием.</h3><br>
  </div>
  <div class="col-md-7 col-md-offset-1"> 
    <ol class="body"><%= image_tag "bod.jpg" %></ol>
    <h4>«В здоровом теле - здоровый дух!»<br> (Децим Юний Ювенал)</h4>
    </div>
     <ol class="body"><%= image_tag "bod1.jpg" %></ol>
    <h4>Правильное питание - основа хорошего здоровья! (Народная мудрость)</h4>
  </div>
  <div class="col-md-7 col-md-offset-1"> 
    <ol class="body"><%= image_tag "bod3.jpg" %></ol>
    <h4>«Здоровье - это самое ценное наследство»<br> (Народная мудрость)</h4>
    </div>
     <ol class="body"><%= image_tag "bod4.jpg" %></ol>
    <h4>Единственная красота, которую я знаю,— это здоровье (Г.Гейне)</h4>
  </div>
</div>
</div>