<div class="row">
<div class="col-md-3">
<div class="inter">
<h3>Фамилия: <%= @user.last_name %><br> Имя: <%= @user.first_name %></h3>
  <div><%= link_to "Индекс метаболизма", "#" , :class => 'btn btn-info btn-block', id: "metab" %></div><br>
  <div><%= link_to "Индекс массы тела", "#" , :class => 'btn btn-info btn-block', id: "weight" %></div><br>
   <div><%= link_to "Индекс Руфье", "#" , :class => 'btn btn-info btn-block', id: "rufe" %></div><br>
   <div><%= link_to "Информационная модель", "#" , :class => 'btn btn-info btn-block', id: "rufus" %></div><br>
</div>
</div>


<div class="col-md-9">

  <div class="charts">
    <%= content_tag :div, "", id: "user_wight", data: { index:  @test }%>
  </div><br>
  <div class="charts_weight">
    <%= content_tag :div, "", id: "user_test", data: { index:  @c }%>
  </div>
  <div class="charts_rufe">
    <%= content_tag :div, "", id: "user_one", data: { index:  @tarantiono }%>
  </div>

    <div class="charts_wweigts">

    <%= content_tag :div, "", id: "weigtsl", data: { index:  @l }%>

    <%= content_tag :div, "", id: "user_rufus", data: { index:  @e }%>
  </div>

  
</div>
