<div class="row">
  <div class="col-md-3">
  <h2> Группы</h2>
    <%= link_to "Cписок групп", groups_path, class: "btn btn-success btn-block" %>
    <%= link_to "Сформировать новую группа", new_group_path, class: "btn btn-info btn-block" %>
  </div>
  <div class="col-md-3">
    <h2> Рацион</h2>
    <%= link_to "Cписок рационов", rations_path, class: "btn btn-success btn-block" %>
    <%= link_to "Сформировать новый рацион", new_ration_path, class: "btn btn-info btn-block" %>
  </div>
  <div class="col-md-3">
    <h2> Продукты</h2>
    <%= link_to "Cписок продуктов питания", products_path, class: "btn btn-success btn-block" %>
    <%= link_to "Записать новый продукт", new_product_path, class: "btn btn-info btn-block" %>
  </div>
  <div class="col-md-3">
    <h2> Тренировки</h2>
    <%= link_to "Cписок тренировок", trainings_path, class: "btn btn-success btn-block" %>
    <%= link_to "Сформировать новую тренировку", new_training_path, class: "btn btn-info btn-block" %>
  </div>
  <div class="col-md-3">
    <h2> Упражнения</h2>
    <%= link_to "Cписок упражнений", exercises_path, class: "btn btn-success btn-block" %>
    <%= link_to "Записать новое упражнение", new_exercise_path, class: "btn btn-info btn-block" %>
  </div>
  </div>
