<h3>Редактирование программы  пользователя: <%= @user.last_name %> <%= @user.first_name %></h3>
<%= simple_form_for( @user) do |f|%>
<div class="col-md-8">
    <%= f.error_notification %>
  <%= select_tag(:group_id, options_for_select(@groups), :prompt => "Выберите группу") %>
  <%= select_tag(:ration_id, options_for_select(@rations), :prompt => "Выберите рацион питания") %>
  <%= select_tag(:training_id, options_for_select(@trainings), :prompt => "Выберите программу тренировки") %>
 
  </div>
   <%= f.button :submit, "Добавить(Редактировать)" %>
<% end %>
