
<div class="row">
<div class="col-md-4">
<div class="inter">
<h3>Фамилия: <%= @user.last_name %><br> Имя: <%= @user.first_name %></h3>
  <div><%= link_to "Результаты на графике", chart_user_path(@user) , :class => 'btn btn-info btn-block'%></div><br>

  <div><%= link_to "Новое тестирование", new_user_personal_characteristic_path(@user), :class => 'btn btn-primary btn-block' %></div><br>
<div><%= link_to "Редактировать(добавление) назначений", edit_user_path(@user) , :class => 'btn btn-primary btn-block' %></div><br>
<div><%= link_to "отчет в pdf формат", user_path(@user, :format => :pdf),  target: "_blank", :class => "btn btn-primary btn-block" %></div><br>
<div><%= link_to "Редактировать данные", edit_user_registration_path(current_user) , :class => 'btn btn-default btn-block' %></div><br>

    <div>
    <%= link_to "Информационная модель", statistics_user_path(@user), class: "btn btn-success btn-block" %></div>
 
</div>
</div>

<div class="col-md-8">



<%= render "shared/personal_data", parent: @user %>


</div>
</div>