<h3><%= @user.last_name %> <%= @user.first_name %></h3>
<h3><%= @user.gender %></h3>
<%= render "shared/personal_data", parent: @user %>
<%= link_to "New Test", new_user_personal_characteristic_path(@user), :class => 'btn-custom' %>
