<table>
<h3>Фамилия: <%= @user.last_name %><br> Имя: <%= @user.first_name %><br> Должность: <%= @user.position %><br> Пол: <%= @user.gender %></h3>
<h2>Таблица персональных показателей <%= @user.first_name %>а</h2>
  <tr>
    <th>Дата проведения</th>
    <th>Индекс Руфье </th>
    <th>Индекс массы тела</th>
    <th>Индекс метаболизма</th>
   
  </tr>
  <% @test.map do |g| %>
  <tr>
    <td><h4><%= g.created_at.strftime("%d-%m-%Y") %></h4></td>
    <td><h4><%= g.rufe_index['name'] %></h4></td>
    <td><h4><%= g.weight_index['name'] %></h4></td>
    <td><h4><%= g.activity_index %></h4></td>
   
  <% end %>
  </tr>
</table>
<hr>
<hr>
<div class="training">
<% if @user.training %>
  <h2 class="test"> Тренировачная программа</h2>
  </div>
  <h3>Номер: <%= @user.training.number %> </h3>
    <h3>Названия:  <%= @user.training.name %></h3>
    <h3>Замечания: <br>  <%= @user.training.notice %></h3>
    <h3>Упражнения:</h3>
    </h4>
    <% if @user.training.exercise_param %>
    
   <%= render "shared/report", user: @user, cell: @user.training.exercise_param %>
   <% end %></h4>

    <h4>
   <% if @user.training.exercise_param_f %>
   
   <%= render "shared/report", user: @user, cell: @user.training.exercise_param_f %>
   <% end %></h4>
   <h4>
   <% if @user.training.exercise_param_s %>
  
   <%= render "shared/report", user: @user, cell: @user.training.exercise_param_s %>
   <%  end -%></h4>
   <h4>
   <% if @user.training.exercise_param_t %>
   <%= render "shared/report", user: @user, cell: @user.training.exercise_param_t %>
   <% end %></h4>
   <h4>
   <% if @user.training.exercise_param_fr %>
   <%= render "shared/report", user: @user, cell: @user.training.exercise_param_fr %>
   <% end -%></h4>
    <h4>
   <% if @user.training.exercise_param_fv %>
   <%= render "shared/report", user: @user, cell: @user.training.exercise_param_fv %>
   <% end -%>
   </h4>
   <h4>
   <% if @user.training.exercise_param_sx %>
   <%= render "shared/report", user: @user, cell: @user.training.exercise_param_sx %>
   <% end -%>
   </h4>
    <h4>
    <% if @user.training.exercise_param_sv %>
   <%= render "shared/report", user: @user, cell: @user.training.exercise_param_sv %>
   <% end -%>
   </h4>
   <% if @user.training.exercise_param_cardio['type'] %>
     
<h3>Кардио нагрузка</h3>
<table class="table">
    <thead>
      <tr>
        <th>Тип</th>
        <th>Вемя упражнения  </th>
        <th>Максимальная частота пульса</th>
       
       
       
      </tr>
    </thead>
  <tbody>
  <tr>
    
   <td> <%= @user.training.exercise_param_cardio['type'] if @user.training.exercise_param_cardio['type'] %> </td>
   <td> <%= @user.training.exercise_param_cardio['time'] if @user.training.exercise_param_cardio['time'] %> </td>
    <td><%=@user.training.exercise_param_cardio['quantaty'] if @user.training.exercise_param_cardio['quantaty'] %></td>

    </tr>
  </tbody>

</table>

   <% end -%>
<% end %>

<hr>
<hr>
<div class="hello">
<% if @ration %>
    
    <h2 class="test"> Рацион питания</h2>
    <h3>Названия:  <%= @ration.name %></h3>
    <h3>Описание: <br>  <%= @ration.description %></h3>
    <h4 class="ration">На завтрак</h4>
   <%= render "shared/ration", ration: @ration.morning %>
   <h4 class="ration">На обед</h4>
   <%= render "shared/ration", ration: @ration.afternoon %>
   <h4 class="ration">На перекус</h4>
   <%= render "shared/ration", ration: @ration.lunch %>
   <h4 class="ration">На ужин</h4>
   <%= render "shared/ration", ration: @ration.evening %>
   <% if @ration.new_ration %>
    <h4 class="ration">Дополниетльный прием пищи</h4>
   <%= render "shared/ration", ration: @ration.new_ration %>
   <% end%>
</div>
<% end%>

<h3>Дата формирования отчета: <br><%= Time.zone.now.strftime("%F (%T)") %></h3>