<table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Название</th>
        <th>Описание</th>
        <th>Просмотр рациона</th>
        <th>Удаление рациона</th>
      </tr>
    </thead>
  <tbody>
  <% @rations.each do |f| %>
    <tr>
      <td><h4><%= f.name %></h4></td>
      <td><h4><%= f.description%></h4></td>
      <td><%= link_to  f, class: "btn btn-info" do %>
      <i class="glyphicon glyphicon-eye-open"></i>
      <% end %></td>
      <td><%= button_to f, method: :delete, class: "btn btn-danger" do %>
      <i class="glyphicon glyphicon-remove-circle"></i>
      <% end %></td></td>
    </tr>
  </tbody>
<% end %>
</table>
<div class="container text-center">
  <div class="pagination">
    <%= will_paginate @rations, renderer: BootstrapPagination::Rails %>
  </div>
</div>

