<!DOCTYPE html>
<html>
<head>
  <title>HealthyLife</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">

    <div class="container">

      <div class="navbar-header">
        <div class="logo">
          HealthyLife (ЗдоровЖизнь)
       </div>

      </div>
      
      <ul class="nav navbar-nav navbar-right">

        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Окно управления<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <div class="user-panel">
            
                  <li><%= link_to "Панель управления для треннера", dasboards_users_path, class: "btn btn-link" %></li>
                  <%= link_to "Зарегестрировать пользователя", new_user_registration_path, class: "btn btn-link"  %>
                  <%= link_to "Зарегестрировать тренера", new_coach_registration_path, class: "btn btn-link"  %> 
                 

          
              <% if user_signed_in? %>
                <%= link_to "Выйти", destroy_user_session_path, :method => :delete, class: "btn btn-link"  %>

                <% if current_user.type.nil? %>
                <%= link_to "Личный кабинет", user_path(current_user), class: "btn btn-link" %>
                <% end %>
              
              <% else %>
                
                  <%= link_to "Главное окно", root_url, class: "btn btn-link"  %>
                  
              <% end %>
             
          </div> 
          </ul>
        </li>
        <% unless user_signed_in? || coach_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Войти<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <ul class="nav navbar-nav">
                    <%= link_to "Войти как пользователь", new_user_session_path, class: "btn btn-link"  %>
                    <%= link_to "Войти как тренер", new_coach_session_path, class: "btn btn-link"  %>
                </ul>
              </ul>
          </li>
        <% end %>
        
      </ul>

    </div>

  </nav>
 

<div class="container">  
<%= yield %>
</div><br>

  <div class="panel-footer">Healthy Life</div>

</body>
</html>
